<template>
  <g id="head">
    <g id="forehead">
      <path
        class="text-green-500 fill-current"
        d="M178.59 31.861c-30.393 0-54.672 18.434-68.772 43.889-3.995 7.428-14.588 26.495-15.05 43.254.052 20.328 7.743 39.037 20.171 49.076 4.207 3.398 6.827 4.714 8.618 4.324 1.415-.308 7.282-1.402 13.037-2.431 27.418-4.906 37.284-6.226 66.472-8.891 10.152-.927 31.856-1.525 52.934-1.707 21.078.182 42.782.78 52.934 1.707 29.188 2.665 39.054 3.985 66.472 8.89 5.755 1.03 11.622 2.124 13.037 2.432 1.791.39 4.41-.926 8.618-4.324 12.428-10.039 20.12-28.748 20.171-49.076-.462-16.76-11.055-35.826-15.05-43.254-14.1-25.455-38.646-43.842-69.04-43.842-35.593 0-72.642 2.467-72.619 28.092.006 6.652-3.146 6.552-4.52 6.521-1.372-.03-4.49.132-4.519-6.521-.108-25.625-37.3-28.139-72.894-28.139zm156.894 40.957c11.358-.106 23.013 6.45 27.223 17.018 7.373 18.51.908 38.86-15.744 49.56-10.731 6.897-20.323 7.048-31.432.5-11.92-7.026-15.646-15.405-14.39-32.367 1.14-15.416 5.893-22.316 21.609-31.367 3.89-2.24 8.29-3.302 12.734-3.344zm-158.968.194c4.444.041 8.844 1.103 12.734 3.343 15.716 9.051 20.468 15.95 21.61 31.366 1.255 16.961-2.471 25.343-14.391 32.369-11.109 6.548-20.7 6.396-31.432-.5-16.652-10.7-23.117-31.051-15.744-49.56 4.21-10.57 15.865-17.125 27.223-17.018z"
      />
      <g id="eyes">
        <g id="left-eye">
          <path
            d="M165.037 139.589c-16.651-10.7-23.116-31.05-15.743-49.56 5.857-14.704 26.122-21.64 39.955-13.674 15.716 9.05 20.47 15.95 21.611 31.367 1.255 16.96-2.47 25.342-14.39 32.368-11.109 6.548-20.701 6.395-31.433-.501z"
            opacity=".69"
            fill="#916fa3"
          />
          <path
            d="M193.66 128.722c1.564-.827 3.955-4.26 5.313-7.628 9.759-24.206-23.347-46.928-37.999-26.08-5.124 7.29-5.593 14.98-1.412 23.115 7.02 13.658 20.423 17.821 34.098 10.593z"
          />
        </g>
        <g id="right-eye">
          <path
            d="M346.963 139.396c16.651-10.7 23.116-31.051 15.743-49.56-5.857-14.705-26.122-21.64-39.955-13.674-15.716 9.05-20.47 15.95-21.61 31.366-1.256 16.962 2.47 25.343 14.39 32.37 11.108 6.547 20.7 6.394 31.432-.502z"
            opacity=".69"
            fill="#916fa3"
          />
          <path
            d="M318.34 128.529c-1.564-.827-3.955-4.26-5.313-7.628-9.759-24.206 23.347-46.928 37.999-26.081 5.124 7.29 5.593 14.982 1.412 23.116-7.02 13.658-20.423 17.821-34.098 10.593z"
          />
        </g>
      </g>
    </g>
    <g
      id="muzzle"
      transform="translate(0 -50)"
      class="text-green-500 relative z-20"
    >
      <path
        class="fill-current"
        d="M256 206.805c-33.294.31-96.471 6.521-126.299 12.554l-18.68 5.079c-27.151 8.252-47.265 33.398-48.878 57.476.12 6.428.918 13.572 3.238 19.475 3.206 7.603 8.334 13.633 12.332 18.39 7.813 11.045 21.53 23.15 22.539 23.55.686.27 1.923.32 2.748.107 32.014-8.267 46.146-11.512 60.5-13.893 39.68-6.582 59.866-8.363 92.5-8.244 32.634-.119 52.82 1.662 92.5 8.244 14.354 2.38 28.486 5.626 60.5 13.893.825.213 2.062.164 2.748-.108 1.01-.4 14.726-12.504 22.54-23.549 3.997-4.757 9.125-10.787 12.331-18.39 2.32-5.903 3.118-13.047 3.238-19.475-1.613-24.078-21.727-49.224-48.878-57.476l-18.68-5.079c-29.828-6.033-93.005-12.244-126.299-12.554z"
      />
      <g id="nose">
        <ellipse
          id="nostril-left"
          ry="26.509"
          rx="14.441"
          cy="328.079"
          cx="22.867"
          transform="matrix(.86209 -.50676 .51142 .85933 0 0)"
        />
        <ellipse
          id="nostril-right"
          cx="-417.105"
          cy="68.597"
          rx="14.441"
          ry="26.509"
          transform="matrix(-.86209 -.50676 -.51142 .85933 0 0)"
        />
      </g>
    </g>
  </g>
</template>

<script>
import { gsap } from "gsap";
import { Howl } from "howler";
export default {
  name: "KrokoHead",
  props: {
    shouldClose: {
      type: Boolean,
      required: true
    }
  },
  audio: null,
  created() {
    this.audio = new Howl({
      src: require("../../assets/head.mp3")
    });
  },
  mounted() {
    gsap.fromTo(
      document.getElementById("head"),
      {
        y: 100,
        duration: 0.5,
        ease: "back"
      },
      {
        y: 20,
        duration: 0.5,
        ease: "back"
      }
    );
  },
  methods: {
    closeHead() {
      gsap.to(document.getElementById("head"), {
        y: 100,
        duration: 0.15,
        ease: "back"
      });
      this.audio.play();
    }
  },
  watch: {
    shouldClose: function(value) {
      if (value) {
        this.closeHead();
      }
    }
  }
};
</script>
