<template>
  <g id="mouth" class="relative z-10">
    <path
      class="fill-current text-red-600"
      d="M256 249.875L104.059 289.64l-1.002 113.794s225.125 5.748 305.538-.153l-2.439-113.641z"
    />
    <g ref="teethGroup" id="teeth-group" class="text-white">
      <path
        id="tooth-1"
        class="fill-current"
        d="m 119.21529,366.23928 a 9,10.935397 0 0 0 -8.92774,10.84415 h -0.002 v 0.0884 a 9,10.935397 0 0 0 0,0.003 9,10.935397 0 0 0 0,0.0193 v 30.73621 h 18 v -30.73637 a 9,10.935397 0 0 0 0,-0.0193 v -0.0911 h -0.002 a 9,10.935397 0 0 0 -8.998,-10.84409 9,10.935397 0 0 0 -0.0703,0 z"
      />
      <path
        id="tooth-2"
        class="fill-current"
        d="m 149.6855,355.41293 a 9,14.161601 0 0 0 -8.92774,14.04344 h -0.002 v 0.11476 a 9,14.161601 0 0 0 0,0.003 9,14.161601 0 0 0 0,0.0241 v 39.80432 h 18 v -39.80432 a 9,14.161601 0 0 0 0,-0.0241 v -0.11785 h -0.002 a 9,14.161601 0 0 0 -8.998,-14.04344 9,14.161601 0 0 0 -0.0703,0 z"
      />
      <path
        id="tooth-3"
        class="fill-current"
        d="m 180.1557,349.22645 a 9,14.161601 0 0 0 -8.92774,14.04344 h -0.002 v 0.11476 a 9,14.161601 0 0 0 0,0.003 9,14.161601 0 0 0 0,0.0241 v 39.80432 h 18 v -39.80432 a 9,14.161601 0 0 0 0,-0.0241 v -0.11785 h -0.002 a 9,14.161601 0 0 0 -8.998,-14.04344 9,14.161601 0 0 0 -0.0703,0 z"
      />
      <path
        id="tooth-4"
        class="fill-current"
        d="m 210.62589,346.13321 a 9,14.161601 0 0 0 -8.92774,14.04344 h -0.002 v 0.11476 a 9,14.161601 0 0 0 0,0.003 9,14.161601 0 0 0 0,0.0241 v 39.80432 h 18 v -39.80432 a 9,14.161601 0 0 0 0,-0.0241 v -0.11785 h -0.002 a 9,14.161601 0 0 0 -8.998,-14.04344 9,14.161601 0 0 0 -0.0703,0 z"
      />
      <path
        id="tooth-5"
        class="fill-current"
        d="m 241.09609,338.40011 a 9,14.161601 0 0 0 -8.92774,14.04344 h -0.002 v 0.11476 a 9,14.161601 0 0 0 0,0.003 9,14.161601 0 0 0 0,0.0241 v 39.80432 h 18 v -39.80432 a 9,14.161601 0 0 0 0,-0.0241 v -0.11785 h -0.002 a 9,14.161601 0 0 0 -8.998,-14.04344 9,14.161601 0 0 0 -0.0703,0 z"
      />
      <path
        id="tooth-6"
        class="fill-current"
        d="m 271.56631,338.40011 a 9,14.161601 0 0 0 -8.92774,14.04344 h -0.002 v 0.11476 a 9,14.161601 0 0 0 0,0.003 9,14.161601 0 0 0 0,0.0241 v 39.80432 h 18 v -39.80432 a 9,14.161601 0 0 0 0,-0.0241 v -0.11785 h -0.002 a 9,14.161601 0 0 0 -8.998,-14.04344 9,14.161601 0 0 0 -0.0703,0 z"
      />
      <path
        id="tooth-7"
        class="fill-current"
        d="m 302.03652,346.13321 a 9,14.161601 0 0 0 -8.92774,14.04344 h -0.002 v 0.11476 a 9,14.161601 0 0 0 0,0.003 9,14.161601 0 0 0 0,0.0241 v 39.80432 h 18 v -39.80432 a 9,14.161601 0 0 0 0,-0.0241 v -0.11785 h -0.002 a 9,14.161601 0 0 0 -8.998,-14.04344 9,14.161601 0 0 0 -0.0703,0 z"
      />
      <path
        id="tooth-8"
        class="fill-current"
        d="m 332.50674,349.22645 a 9,14.161601 0 0 0 -8.92774,14.04344 h -0.002 v 0.11476 a 9,14.161601 0 0 0 0,0.003 9,14.161601 0 0 0 0,0.0241 v 39.80432 h 18 v -39.80432 a 9,14.161601 0 0 0 0,-0.0241 v -0.11785 h -0.002 a 9,14.161601 0 0 0 -8.998,-14.04344 9,14.161601 0 0 0 -0.0703,0 z"
      />
      <path
        id="tooth-9"
        class="fill-current"
        d="m 362.97695,355.41293 a 9,14.161601 0 0 0 -8.92774,14.04344 h -0.002 v 0.11476 a 9,14.161601 0 0 0 0,0.003 9,14.161601 0 0 0 0,0.0241 v 39.80432 h 18 v -39.80432 a 9,14.161601 0 0 0 0,-0.0241 v -0.11785 h -0.002 a 9,14.161601 0 0 0 -8.998,-14.04344 9,14.161601 0 0 0 -0.0703,0 z"
      />
      <path
        id="tooth-10"
        class="fill-current"
        d="m 393.44717,366.23928 a 9,10.935397 0 0 0 -8.92774,10.84415 h -0.002 v 0.0884 a 9,10.935397 0 0 0 0,0.003 9,10.935397 0 0 0 0,0.0193 v 30.73621 h 18 v -30.73637 a 9,10.935397 0 0 0 0,-0.0193 v -0.0911 h -0.002 a 9,10.935397 0 0 0 -8.998,-10.84409 9,10.935397 0 0 0 -0.0703,0 z"
      />
    </g>
    <path
      id="jaw"
      class="fill-current text-green-600"
      d="M256 379.01c-15.538.058-30.666.443-40.5 1.468-5.5.573-14.05 1.47-19 1.992-30.254 3.195-78.65 13.338-88.717 17.914-5.765 2.362-8.067 7.651-8.14 12.111 0 5.49 2.294 7.729 10.591 12.733 16.404 8.503 16.423 8.448 24.13 11.279 26.747 8.457 66.024 20.747 101.636 26.533 6.314.977 13.003 1.451 20 1.451s13.686-.474 20-1.45c35.612-5.787 74.889-18.077 101.637-26.534 7.706-2.831 7.725-2.776 24.129-11.28 8.297-5.003 10.591-7.243 10.591-12.732-.073-4.46-2.375-9.749-8.14-12.111-10.068-4.576-58.463-14.719-88.717-17.914-4.95-.523-13.5-1.42-19-1.992-9.834-1.025-24.962-1.41-40.5-1.467z"
    />
  </g>
</template>

<script>
import { gsap } from "gsap";
import { Howl } from "howler";
export default {
  name: "KrokoJaw",
  props: {
    clickedTeeth: {
      required: true,
      type: Array
    },
    isOver: {
      required: true,
      type: Boolean
    }
  },
  audio: null,
  created() {
    this.audio = new Howl({
      src: require("../../assets/tooth.mp3")
    });
  },
  mounted: function() {
    this.teeth = this.$refs.teethGroup.querySelectorAll("path");
    this.teeth.forEach(tooth => {
      tooth.addEventListener("click", this.clickTooth);
    });
  },
  methods: {
    clickTooth(e) {
      if (e.target.classList.contains("clicked") || this.isOver) {
        return;
      }
      gsap.to(document.getElementById(e.target.attributes.id.value), {
        y: "1rem",
        duration: 0.1,
        ease: "back"
      });
      this.audio.play();
      this.audio.on("end", () => {
        this.$emit(
          "tooth-clicked",
          e.target.attributes.id.value.replace("tooth-", "")
        );
      });
    },
    setClicked(arrayOfId) {
      arrayOfId.forEach(id => {
        this.$refs.teethGroup
          .querySelector(`#tooth-${id}`)
          .classList.add("clicked");
      });
    }
  },
  watch: {
    clickedTeeth: function(newVal) {
      this.setClicked(newVal);
    }
  }
};
</script>
