<template>
  <div>
    <span v-text="remaining" />
    <div class="flex space-x-2">
      <div class="">
        <svg xmlns="http://www.w3.org/2000/svg" height="512" width="512">
          <KrokoJaw
            @tooth-clicked="checkForWin"
            :clicked-teeth="clickedTeeth"
            :isOver="isOver"
          />
          <KrokoHead :shouldClose="shouldClose" />
        </svg>
      </div>
    </div>
  </div>
</template>

<script>
import KrokoJaw from "@/components/kroko/KrokoJaw";
import KrokoHead from "@/components/kroko/KrokoHead";
import { randomizeTooth } from "../services/randomize-tooth.js";
export default {
  name: "Kroko",
  components: {
    KrokoJaw,
    KrokoHead
  },
  props: {
    numberTeeth: {
      type: Number,
      required: true
    }
  },
  mounted() {
    this.teeth = this.createTeeth();
  },
  data() {
    return {
      teeth: [],
      nbOfTries: 0,
      isOver: false,
      shouldClose: false
    };
  },
  methods: {
    createTeeth() {
      const trappedId = randomizeTooth.get();
      let result = [];
      for (let i = 1; i < 11; i++) {
        result.push({
          id: i,
          isTrapped: i == trappedId,
          wasClicked: false
        });
      }
      return result;
    },
    checkForWin(anId) {
      const aTooth = this.teeth.find(tooth => tooth.id == anId);
      const hasClickedOnTrapped = () => aTooth.isTrapped;
      const hasExaustedAllTeeth = () => this.nbOfTries == this.numberTeeth;
      const isAlreadyClick = () => aTooth.wasClicked;

      if (isAlreadyClick()) return;

      if (this.nbOfTries == this.numberTeeth) {
        return;
      }

      this.prepareForNextMove(aTooth);

      if (hasExaustedAllTeeth()) this.gameOver("yes");

      if (hasClickedOnTrapped()) this.gameOver("no");
    },
    prepareForNextMove(aTooth) {
      const setClicked = () => {
        this.teeth[this.teeth.indexOf(aTooth)].wasClicked = true;
      };
      setClicked(aTooth);
      this.nbOfTries++;
    },
    gameOver(anAnswer) {
      this.isOver = true;
      const enrichEvent = () => {
        return {
          tries:
            anAnswer == "yes"
              ? this.nbOfTries
              : this.numberTeeth - this.nbOfTries,
          answer: anAnswer
        };
      };
      if (anAnswer == "no") {
        this.shouldClose = true;
      }
      this.$emit("gameover", enrichEvent());
      this.nbOfTries = this.numberTeeth;
    }
  },
  computed: {
    triesLeft() {
      return this.numberTeeth - this.nbOfTries;
    },
    remaining() {
      return this.triesLeft == 1
        ? `try remaining: ${this.triesLeft}`
        : `tries remaining: ${this.triesLeft}`;
    },
    clickedTeeth() {
      return this.teeth
        .filter(tooth => tooth.wasClicked)
        .map(tooth => tooth.id);
    }
  }
};
</script>
