<template>
  <div class="w-1/4 text-center mx-auto">
    <div class="w-full flex justify-between items-center">
      <button
        id="play-again"
        type="button"
        @click.prevent="playAgain(true)"
        class="px-4 py-1 rounded border-2 border-green-500"
      >
        Play Again
      </button>
      <button
        id="quit-game"
        type="button"
        @click.prevent="playAgain(false)"
        class="px-4 py-1 rounded border-2 border-green-500"
      >
        Quit The Game
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "PlayAgain",
  props: {
    answer: String
  },
  methods: {
    playAgain(choice) {
      this.$emit("play-again", choice);
    }
  }
};
</script>
