<template>
  <div class="flex justify-center w-full">
    <div class="w-1/6 flex space-x-4">
      <button
        id="number-round-decrease"
        @click="decrease"
        class="flex items-center focus:outline-none"
        :class="[
          canDecrease ? 'text-gray-900' : 'text-gray-500 cursor-not-allowed'
        ]"
      >
        <svg
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </button>
      <div class="flex-1 flex justify-center">
        <span v-text="state.count" />
      </div>
      <button
        id="number-round-increase"
        @click="increase"
        class="flex items-center focus:outline-none"
        :class="[
          canIncrease ? 'text-gray-900' : 'text-gray-500 cursor-not-allowed'
        ]"
      >
        <svg
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path
            d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
      </button>
    </div>
  </div>
  <div class="flex justify-center w-full mt-4">
    <button
      id="play"
      class="px-4 py-1 rounded border-2 border-green-500"
      @click="play"
    >
      play
    </button>
  </div>
</template>

<script>
import { computed, reactive } from "vue";
const DEFAULT = 1;
const LOWERLIMIT = 1;
const UPPERLIMIT = 10;

export default {
  name: "RoundNumberSetter",
  setup() {
    const state = reactive({
      count: DEFAULT
    });

    const canDecrease = computed(() => state.count > LOWERLIMIT);
    function decrease() {
      if (canDecrease.value) state.count--;
    }

    const canIncrease = computed(() => state.count < UPPERLIMIT);
    function increase() {
      if (canIncrease.value) state.count++;
    }

    function play() {
      this.$emit("play", state.count);
    }

    return {
      decrease,
      increase,
      canIncrease,
      canDecrease,
      play,
      state
    };
  }
};
</script>
