<template>
  <div id="app" class="h-screen text-gray-900">
    <div class="flex flex-col justify-center h-full">
      <div v-if="state.playable" class="flex justify-center">
        <p v-text="limitText" />
      </div>
      <div class="flex justify-center">
        <Kroko
          v-if="state.playable"
          :number-teeth="state.limit"
          @gameover="setAnswer"
        />
      </div>
      <div class="mt-16">
        <RoundNumberSetter v-if="!state.playable" @play="startGame" />
      </div>
      <PlayAgain
        v-if="state.answer.length"
        :answer="state.answer"
        @play-again="changeState"
      />
    </div>
  </div>
</template>

<script>
import Kroko from "@/components/Kroko";
import PlayAgain from "@/components/PlayAgain";
import RoundNumberSetter from "@/components/RoundNumberSetter";

import { computed, reactive } from "vue";
export default {
  name: "App",
  components: {
    Kroko,
    PlayAgain,
    RoundNumberSetter
  },
  setup() {
    const state = reactive({
      playable: false,
      limit: 0,
      answer: ""
    });

    const limitText = computed(() => "Number of teeth: " + state.limit);

    const startGame = limit => {
      state.limit = limit;
      state.playable = true;
    };
    const setAnswer = ({ answer }) => {
      state.answer = answer;
    };
    const changeState = choice => {
      if (choice) {
        state.playable = false;
        state.limit = 0;
        state.answer = "";
      }
    };

    return { state, limitText, setAnswer, changeState, startGame };
  }
};
</script>
